# This file is a template, and might need editing before it works on your project.
# This is a sample GitLab CI/CD configuration file that should run without any modifications.
# It demonstrates a basic 3 stage CI/CD pipeline. Instead of real tests or scripts,
# it uses echo commands to simulate the pipeline execution.
#
# A pipeline is composed of independent jobs that run scripts, grouped into stages.
# Stages run in sequential order, but jobs within stages run in parallel.
#
# For more information, see: https://docs.gitlab.com/ee/ci/yaml/index.html#stages
#
# You can copy and paste this template into a new `.gitlab-ci.yml` file.
# You should not add this template to an existing `.gitlab-ci.yml` file by using the `include:` keyword.
#
# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Getting-Started.gitlab-ci

variables:
  GIT_SUBMODULE_STRATEGY: normal

stages:
  - test
  - front_build
  - build_up_docker

test:
  stage: test
  only:
    - master
  tags:
    - master_runner
  script:
    - echo "Starting Unit test"
    - python3 -m venv .venv # Создаем Виртуальное окружение
    - source .venv/bin/activate # Выполняем вход и следующей строкой устанавливаем зависимости
    - pip install -r backend/requirements.txt
    # - python3 backend/api_tests/*.py  # Выполняем тесты
    - export APP_URL=$APP_URL
    - export S3_ACCESS=$S3_ACCESS
    - export S3_SECRET=$S3_SECRET
    - export S3_BACKUPS_ACCESSKEY=$S3_BACKUPS_ACCESSKEY
    - export S3_BACKUPS_SECRETKEY=$S3_BACKUPS_SECRETKEY
    - export TG_TOKEN=$TG_TOKEN
    - export POSTGRES_USER=$POSTGRES_USER
    - export POSTGRES_PASS=$POSTGRES_PASS
    - export CHEQUES_TOKEN=$CHEQUES_TOKEN
    - export ACCOUNT_INTERVAL=$ACCOUNT_INTERVAL
    - pytest
    - rm -rf .venv
    - unset APP_URL
    - unset S3_ACCESS
    - unset S3_SECRET
    - unset S3_BACKUPS_ACCESSKEY
    - unset S3_BACKUPS_SECRETKEY
    - unset TG_TOKEN
    - unset POSTGRES_USER
    - unset POSTGRES_PASS
    - unset CHEQUES_TOKEN
    - unset ACCOUNT_INTERVAL


front-build-job:
  stage: front_build
  only:
    - master
  tags:
    - master_runner
  environment: production
  script:
    - echo "Building front...."
    - cd ./front_src
    - echo -e "REACT_APP_APP_URL=$APP_URL\nREACT_APP_FRONT_URL=$FRONT_URL" > .env
    - cp .env ../landing_src/.env
    - yarn cache clean
    - yarn install
    - yarn build:stage
    - cd ../landing_src
    - yarn cache clean
    - yarn install
    - yarn build:stage
    - git submodule sync --recursive
    - git submodule update --init --recursive --remote
    # - cd ../front-tablecrm-v2
    # - yarn install
    # - yarn build
    - echo "Front builded С:"
  artifacts:
    expire_in: 10 minutes
    paths:
      - ./front_src/build/
      # - ./front-tablecrm-v2/build/
      - ./landing_src/build/


build-up-docker-job:
  stage: build_up_docker
  only:
    - master
  tags:
    - master_runner
  dependencies: 
    - front-build-job
  environment: production
  script:
    - echo "Deploying application..."
    - cp -rv ./front_src/build/ ./nginx/front_build/
    # - cp -rv ./front-tablecrm-v2/build/ ./nginx/front2_build/
    - cp -rv ./landing_src/build/ ./nginx/landing_build/
    - docker compose stop
    - APP_URL="$APP_URL" S3_ACCESS="$S3_ACCESS" S3_SECRET="$S3_SECRET" S3_BACKUPS_ACCESSKEY="$S3_BACKUPS_ACCESSKEY" S3_BACKUPS_SECRETKEY="$S3_BACKUPS_SECRETKEY" TG_TOKEN="$TG_TOKEN" POSTGRES_USER="$POSTGRES_USER" POSTGRES_PASS="$POSTGRES_PASS" CHEQUES_TOKEN="$CHEQUES_TOKEN" ACCOUNT_INTERVAL="$ACCOUNT_INTERVAL" docker compose up --build -d
