/backend/photos/**
/backend/.venv/**
/backend/**/__pycache__
/nginx/nginx.conf
docker-compose.yml
/ssl/localhost-key.pem
/ssl/localhost.pem
/nginx/Dockerfile
docker-compose.dev.yml
/backend/database/alembic/versions
/nginx/nginx.conf
.env
